@page
@model Zealand_Booking_System.Pages.RoomModel
@{
}
<body>
    @foreach (var room in Model.Room)
    {
        <div class="card">
            <div class="card__bg">
                @* <img src="~/img/@animal.ImagePath" alt="Billede af @animal.Name" class="card-img-top" /> *@
                <div class="card-body">
                    <h5 class="card-title">@room.RoomName</h5>
                    <p class="card-text">
                        Størrelse: @room.Size<br />
                        Lokation: @room.RoomLocation<br />
                        <span>
                            @room.RoomDescription<span /><br />
                    </p>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="roomID" value="@room.RoomID" />
                        <button type="submit">Slet</button>
                    </form>
                </div>
            </div>
        </div>
    }

    <!-- FORMULAR TIL AT OPRETTE NYT LOKALE -->
    <h3>Opret nyt lokale</h3>

    <form method="post" style="width:50%; margin-bottom: 30px;">
        <div style="margin-bottom:10px;">
            <label for="RoomName">Lokalenavn:</label><br />
            <input asp-for="NewRoom.RoomName" id="RoomName" required />
        </div>

        <div style="margin-bottom:10px;">
            <label for="RoomLocation">Lokation:</label><br />
            <input asp-for="NewRoom.RoomLocation" id="RoomLocation" required />
        </div>

        <div style="margin-bottom:10px;">
            <label for="Size">Størrelse:</label><br />
            <input asp-for="NewRoom.Size" id="Size" type="number" required />
        </div>

        <div style="margin-bottom:10px;">
            <label for="RoomDescription">Beskrivelse:</label><br />
            <textarea asp-for="NewRoom.RoomDescription" id="RoomDescription"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Opret lokale</button>
    </form>
   </body>